<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.visual28.mango.plugins.metaData" name="Meta Data" version="1.1" provider-name="visual28" class="metaData.Handler">
<description><![CDATA[ Adds additional meta data support ]]></description>
<requiresVersion match="greaterOrEqual">0.2</requiresVersion>
  <listens>
	<event name="beforeHtmlHeadEnd" type="synch" priority="5" />
  </listens>
  
  <listensAdmin>
  	<event name="settingsNav" type="synch" priority="5" />
  	<event name="showMetaSettings" type="synch" priority="5" />
  </listensAdmin>
</plugin>