<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.visual28.mango.plugins.sideNote" name="Side Notes" version="1.2" provider-name="visual28" class="sideNote.Handler">
<description><![CDATA[ Side Notes allows you to add any type of content to your page sidebar. You customize the content and the style. ]]></description>
<requiresVersion match="greaterOrEqual">1.2.2</requiresVersion>
  <listens>
	<event name="getPods" type="synch" priority="5" />
	<event name="getPodsList" type="synch" priority="1" />
	<event name="settingsNav" type="synch" priority="5" />
  	<event name="showSideNoteSettings" type="synch" priority="5" />
  </listens>
</plugin>